* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'M PLUS 2', sans-serif;
}

.wspLogo1 {
    position: fixed;
    z-index: 99;
    bottom: 2%;
    left: 93%;
}

.wspLogo {
    width: 200px;
}

body {
    height: 100vh;
}

.navigation {
    background: rgb(146, 146, 146);
    box-sizing: border-box;
    position: sticky;
    height: 200px;
    margin-bottom: -3px;
}
nav div a img.logo {
    width: 600px;
    height: auto;
    padding: 8px;
}

nav div.barranav {
    box-sizing: border-box;
    overflow: auto;
    padding: 2px;
    margin-top: -80PX;
    text-align: right;
}

a:visited {
    color:black;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: 1s;
}

nav div.barranav ul {
    height: 100px;
}

nav div.barranav ul li {
    font-family: 'M PLUS 2', sans-serif;
    font-size: 25px;
    display: inline-block;
    margin-top: 20px;
    padding: 10PX;
    text-decoration: none;
    color: black;
    

}

nav div.barranav ul li:hover { 

    filter: invert();
    transform: translateY(10px);
}

.mainSomos {
    background: black;
    min-height: calc(100vh - 400px );
}

.somos {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.somosContainer1 {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-content: center;
}

.somosTitulo {
    color: white;
    font-size: 60px;
    margin: 80PX 15PX;
}

.somosDesc {
    color: white;
    font-size: 30px;
}

.somosImg {
    height:  calc(100vh - 400px );
    width: auto;
}

.mainIndex {
    min-height: calc(100vh - 400px );
    background-image: url(../Img/fondomain2.jpg);
}
main div div.mainImagenes  {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    text-align: center;
}
main div h2.mainTitle {
    font-family: 'M PLUS 2', sans-serif;
    padding: 5px;
    background: rgb(146, 146, 146);
    text-align: center;

}
main div img.mainImg {
    display: grid;
    margin: 10px 10px;
    border: 1px solid white;

}
main div div img.mainImg{
    width: 800px;
    height: 800px;
    object-fit: cover;
    filter: brightness(75%);
}

img.mainImg:hover{
    filter: brightness(100%);
}


/* Footer */

.footer {
    height: 200px;
    font-family: 'M PLUS 2', sans-serif;
    background-color: rgb(146, 146, 146);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    text-align: left;
    position: relative;
    bottom: 0px;
    width: 100%;
}
footer div.footerQuienes {
    width: 350px;
    height: 150px;
    display: inline-block ;    
}
footer div h2.footerTitle {
    padding-top: 2px;
    font-size: 22px;
    display: inline-block ;
}
footer div.footerLogo {
    width: 140px;
    height: 140px;
    margin: 10px 20px;
    display: inline-block;
}
.footerLogo1 {
    width: 100%;
    transition: 1s;
}
.footerLogo1:hover {
    transform: rotate(360deg);
}
footer div.footerContacto {
    margin: 15px 15px;
    width: 250px;
    height: 150px;
    display: inline-block ;
}
footer div.footerLocation {
    display: inline-block ;
}
iframe {
    margin: 5px -80%;
    width: 300px;
    height: 150px;
}

.borderContact {
    background-color: black;
    min-height: calc(100vh - 400px );
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
    align-items: center;
    
}


form fieldset.form {
    color: white;
    background: rgb(0, 0, 0);
    border: 0px ;
    padding: 0px;
    font-size: xx-large;

}

img.imgContact {
    width: 1200px;
    height: auto;
}

section div.galeria {
    display: inline-block;
    align-items: center;
    justify-items: center;
    text-align: center;
    margin: 10px;
    min-height: calc(100vh - 380px );
}

section div img.mainImg {
    border: 1px solid rgb(0, 0, 0);
    padding: 2px;
    width: 600px;
    height: 600px;
    object-fit: cover;
    transition: 1s;

}

section div img.mainImg:hover{
    transform: scale(.9);
}
.materialesSection {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    background: rgb(224, 224, 224);
}

h3 {
    font-size: 25px;
}

.containerProv {
    display: flex;
    flex-wrap: wrap;
}

/* Responsive */

@media screen and (max-width: 980px)  {

/* Header */

.boxLogo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    nav div a img.logo {
    width: 400px;
    height: auto;
    padding: 4px;

}

nav div.barranav ul {
display: flex;
text-align: center;
justify-content: center;
height: 180px;
}

nav div.barranav ul li {
    font-family: 'M PLUS 2', sans-serif;
    display: inline-block;
    text-align: center;
    margin-top: 100px;
    padding: 10PX;
    text-decoration: none;
    color: black;
    font-size: 14px;

}

main div h2.mainTitle {
    font-family: 'M PLUS 2', sans-serif;
    padding: 5px;
    background: rgb(146, 146, 146);
    font-size: 80%;


}


main div div img.mainImg{
    width: 500px;
    height: 500px;
}
main div div.mainImagenes  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-image: url(../Img/Fondomain3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

/* Footer */

.footer {
    position: relative;
    width: 100%;
}

footer div.footerLogo {
    width: 150px;
    height: 150px;
    margin: 5px 5px;
    display: inline-block;
}
.footerLogo1 {
    width: 75%;
}

footer div h2.footerTitle {
    font-size: 16px;
}

footer div.footerContacto {
    margin: 15px 15px;
    width: 250px;
    height: 150px;
    display: inline-block ;
    font-size: 14px;
}

footer div.footerQuienes {
    width: 350px;
    height: 150px;
    display: none ;    
}
footer div.footerLocation {
    display: none ;
}


.imgContact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}


/* Page Contacto */

.borderContact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Page Somos */

.somos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.somosContainer1 {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-content: center;
}

.somosTitulo {
    color: white;
    font-size: 40px;
    margin: 60PX 15PX;
}

.somosDesc {
    color: white;
    font-size: 20px;

